<% provide(:title, 'Contact') %>
<h1>Contact</h1>
 <p> Please contact the following for support: </p>
 <p><b>Smart Software Pte Ltd </b></p>
 <p>10 Stirling Road </p>
 <p>#36-06 </p>
 <p>S 148954 </p>
 <p>HP: 9832 1423</p>
