<% provide(:title, "Home")%>

<h1>Project Compliance </h1>
<p>You would need to register new project.</p>
<p>If the project has not done the review this year, you would need to submit compliance report</p>
